.parentContainer {
  display: flex;
  justify-content: center;
  column-gap: 5%;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.container[bias="left"] button {
  height: 30px;
  background-color: var(--news-background-color);
  color: white;
  border: 1px solid var(--left-news-source-color);
}

.container[bias="right"] button {
  height: 30px;
  background-color: var(--news-background-color);
  color: white;
  border: 1px solid var(--right-news-source-color);
}

.verticalBar {
  height: auto;
  border: 1px solid white;
}
