.parentContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  column-gap: 5%;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}

.container[bias="left"] button {
  height: 30px;
  background-color: var(--news-background-color);
  color: white;
  border: 1px solid var(--left-news-source-color);
}

.container[bias="right"] button {
  height: 30px;
  background-color: var(--news-background-color);
  color: white;
  border: 1px solid var(--right-news-source-color);
}

.analysisContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}

.verticalBar {
  height: 100%;
  border: 1px solid white;
}

.newsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsContainer button {
  position: relative;
  top: 30px;
}
.biasToggle {
  display: flex;
  position: relative;
  /* left: 200px;
  top: 10px; */
  justify-content: center;
  margin: 10px 20px;
}
