:root {
  --background-color: #232324;
  --left-news-hover: #6f9fc9;
  --right-news-hover: #c46e6e;
  --left-news-source-color: #4e8de6;
  --right-news-source-color: #d95f59;
  --input-background-color: #3f3f40;
  --news-background-color: #3f3f40;
  --dark-yellow: #ffeb02;
  --light-yellow: #fbf4a0;
}

body {
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

div {
  color: white;
}

.false {
  visibility: hidden;
}

.modified {
  width: 150px;
  height: 160px;
}

.m1 {
  /* margin-left: 120px;  */
  position: absolute;
  right: 225px;
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  margin-bottom: 10px;
}

.dash {
  width: 15px;
  height: 2px;
  background-color: white;
}

.leftBackground:hover {
  box-shadow: 2px 2px 7px var(--left-news-hover);
}

.rightBackground:hover {
  box-shadow: 2px 2px 7px var(--right-news-hover);
}

.left {
  background-color: var(--left-news-source-color);
}

.right {
  background-color: var(--right-news-source-color);
}

.inputs {
  background-color: var(--input-background-color);
  color: white;
  height: 25px;
  border-radius: 5%;
}

.calendar {
  display: flex;
  justify-content: center;
}

.viewpoint-title-text {
  text-align: center;
}
